@charset "UTF-8";
.home-laser-content{
	width: 66.66667%;
	float: right;
	padding: 0 0.9375em;
}
.formidable_review{
	background: #A0D3E8;
	border: 1px solid #74BFDD;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}
.formidable_review p{
	font-size: 1.5rem;
	margin-bottom: 0;
}
.firstname{
	margin-right: 20px !important;
	width: 100% !important;
}
.lastname{
	margin-left: 10px !important;
	width: 98% !important;
	}
a.has-dropdown{
	cursor:default !important;
}
.button-info{
    background-color:transparent;
    border: 3px solid #e1261c;
    font-family: 'Antonio-Light';
}

/*:::::WIDTHS:::::::::*/
header,
#banner-wrap,
#laser-experts,
#solutionfinder,
.solution-wrap,
#products,
footer{
	width: 100%;
}
/*:::::BASE LAYOUT::::*/
header{
	background: #fff;
	padding-top: 47px;
}
footer{
	background: #e7e7e9;
	color:#777;
	border-top: 5px solid #f70303;
	padding: 10px 0;
	 font-family: 'Antonio-Light';
	 margin-top: 30px;
}
address{
	background: url("../img/location-icon.jpg") no-repeat;
	padding-left: 50px;
	height: 50px;
	background-position: left center;
	font-style: normal;
}
.phone-wrap{
	background: url("../img/phone-icon.jpg") no-repeat;
	background-position: center center center;
	padding-left: 50px;
	margin: 10px 0;
}
.phone-wrap > span a{
	margin-bottom: 5px;
	display: inline-block;
}
.email{
	background: url("../img/email-icon.jpg") no-repeat;
	padding-left: 50px;
	display: block;
	height: 30px;
}
.footer-nav{
	border-left: 1px solid #ccc;
	padding-left: 10px;
}
.footer-nav .ccm-page-list-description{
	display: none;
}
.footer-nav h3{
	margin: 0 !important;
	line-height: 1.3rem;
}
.footer-nav h3 a:link, .footer-nav h3 a:visited{
	font-size: .9rem;
	color: #999;
	margin: 0 !important;
	line-height: 1rem;
}
.footer-nav h3 a:hover{
	color: #D40303;
}
.contact-info-wrap{
	font-family: 'helvetica', arial, sans-serif;
}
.social-list li{
	list-style: none;
	display: inline-block;
	float: left;
	margin: 0 5px;
	-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.social-list li:hover{
	opacity: .5;
	-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.signin{
	font-family: 'helvetica', arial, sans-serif !important;
}
.rmiphone{
	float: right;
	background: #000;
	padding-left: 85px;
	margin: 4px 15px 0 0;
	background: url('../img/phone-angle.png') no-repeat;
}
.rmiphone a, .rmiphone a:visited{
	color: #fff;
	background: #363636;
	display: block;
	padding: 5px;
}
.rmiphone a:hover{
	color: #fff;
}
#breadcrumb-wrap{
	font-size: .8rem;
	background: #fafafa;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 5px 10px;
	box-sizing: border-box;
}
/*:::::HOME PAGE BASE LAYOUT::::::*/
#banner-wrap{
 	background-color:#ddd; 
	background: url("../img/gray_pinstripe.png") repeat;
	color:#fff;
	 font-family: 'Antonio';
	 position: relative;
}

#banner-wrap h1{color:#fff;}
.homeBannerWrap{
background:none !important;
}
.banner{
	position: relative;
}
video#bgvid{
	display:block;
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: -100;
	background-size: cover;
	border-bottom:15px solid #e1261c;
}
.CTA-wrap{
	position: absolute;
	z-index: 1;
	margin-top: 2%;
	text-align: right;
}
.CTA{
	text-align: right;
	font-size: 3rem;
	color:#fff;
	text-shadow: 1px 1px 4px black;
	margin-bottom: 30px;
}

/*=======TESTIMONIAL BLOCKS=========*/
.testimonial-wrap{
	border-bottom: 1px dashed #F70303;
	margin-bottom: 30px;
	padding-bottom: 20px;
	clear: both;
}
.testimonial-wrap:last-child{
	border: none;
}
.testimonialLogo{
	margin-top:10px;
	float:left;
	height:70px;
	width:200px;
	position:relative;
}
.testimonialLogo img{
	display:block; float:left;
	height:auto;
	position:absolute;
	bottom:0;
	width:auto;
}
.clientCompanyName{
	margin-left:2%;
	float:left;
	display:block;
	font-size:2em;
	margin-top:10px;
	text-align:left;
	line-height:80px;
}
.clientTestimonial{
	clear:both;
	width:100%;
	float:left;
	margin-top:20px;
	border-top: 1px solid #ddd;
	padding-top:30px;
	font-style: italic;
}
.clientTestimonial:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.clientTestimonial:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.clientTestimonial p{
	display: inline;
}
.clientSignature{
	display:block;
	width:100%;
	float:left;
	clear:both;
	font-size:20px;
	font-style:italic;
	color:#F70303;	
}
.clientCompanyName2{
	display:block;
	width:100%;
	float:left;
	clear:both;	
}
.redSeperator{
	float:left;
	display:block;
	clear:both;
	width:100%;
	height:5px;
	margin:50px 0;
	background:#F70303;
}
#laser-experts{
	background: url("../img/Home-experts-bg.jpg") no-repeat;
	border-bottom: 15px solid #363636;
	position: relative;
/* 	padding-bottom: 50px; */
	box-sizing: border-box;
	background-size: contain;
}
#solutionfinder{
position: relative;
}
.solution-wrap{
	margin: -70px auto 0 auto;
	position: relative;
}
.sf-header{
	/*background: url("../img/gray_pinstripe.png") repeat;*/
	border-top-left-radius: 5px;
	background-color:#363636;
	border-top-right-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}
.sf-subheader{
	background: url("../img/gray_pinstripe.png") repeat;
	text-align: center;
}
#ft-products{
	background: url("../img/laser-bg-01.jpg") no-repeat fixed center top;
	background-size: cover;
	padding: 30px 0;
	margin-bottom: 30px;
}
.feature-wrap{
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
}
.ft-img img{
	margin:0 auto;
}
.ft-title{
	text-align: center;
	color: #fff !important;
	background: #363636;
}
.ft-content{
	padding: 20px 10px;
	box-sizing: border-box;
}
.events-wrap{
/* 	padding: 20px; */
	box-sizing: border-box;
}
.events-wrap h3{
	font-size: 1.2rem !important;
}
.events-wrap .list-unstyled{
	margin: 10px 0 0 0;
}
.app-img-wrap{
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}
.app-img-wrap img{
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 1;
	-webkit-box-shadow:inset 0 0 3px 2px #7A7A7A;
	box-shadow:inset 0 0 3px 2px #7A7A7A;
}
.app-img-wrap img:hover{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.app-name{
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
	color: #fff;
}
/*::::::COMPONENTS:::*/
.angle-red{
	color: #fff !important;
	border-right: 30px solid transparent;
    border-bottom: 33px solid #e1261c; 
    height: 0;
    line-height: 30px;
    padding-left: 10px;
    display:inline-block;
}
.angle-gray{
	color: #fff !important;
	border-right: 30px solid transparent;
    border-bottom: 30px solid #363636; 
    height: 0;
    line-height: 30px;
    padding-left: 10px;
    margin-top:5%;
}
.red-btn, .red-btn:visited{
	padding: 5px 10px;
	background: #e1261c;
	border-radius: 5px;
	font-family: 'Antonio-Light';
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.red-btn:hover{
	color: #fff;
	background: #363636;
}
p .red-btn, p .red-btn:visited{
	display: inline-block;
	padding: 5px 10px;
	background: #e1261c;
	border-radius: 5px;
	font-family: 'Antonio-Light';
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
p .red-btn:hover{
	color: #fff;
	background: #363636;
}
.red-btn-outline{
	display: inline-block;
	padding: 5px 30px;
	border: 2px solid #e1261c;
	border-radius: 5px;
	font-family: 'Antonio-Light';
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.red-btn-outline:hover{
	color: #fff;
	background: #e1261c;
}

.red-btn-outline:visited{
	color: #fff;
	background: #e1261c;
}
.home-red-btn, .home-red-btn:visited{
	padding: 10px 40px;
	background: #e1261c;
	border-radius: 5px;
	font-family: 'Antonio-Light';
	font-size: 1.5rem;
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-shadow: 1px 1px 2px black;
}
.home-red-btn:hover{
	color: #fff;
	background: #363636;
}
/*::::::PRODUCTPAGE::::*/
.ProductGallery{
	margin-left:auto;
	margin-right:auto;
	background-color: #ddd;
	text-align: left;
	border-bottom: 5px solid #f70303;
}
 .tabs dd > a,
    .tabs .tab-title > a {
	margin-left:-10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	 box-shadow: 0px 0px 3px #cccccc;
}
/*REMOVED MARGIN WHILE PROMO IS RUNNING
.tabsArea{
	margin-top:5%;
}
*/
.tabs-content{
	border-width: 2px;
	border-color: #ddd;
	border-style: solid;
	width:60%;
	margin-left: -15px;
}
.tabsArea > .ccm-ui ul.tabs > .active > a{
	background: #fafafa;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	color: #000 !important;
}
.request-button{
	margin: 40px 0;
	text-align: center;
}
.viewLasers{
	padding:10px;
	background-color:#fff;
	border:2px solid #ddd;
	border-radius:15px;
	margin-bottom:5%;
	text-align: center;
}
#learnMore{
	background-color: #333;
	background: url("../img/gray_pinstripe.png") repeat;
	margin-bottom:1%;
	border-bottom: 5px solid #f70303;
	padding: 20px 0;	
}
.learnMore-inner{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}
.LM-title-sml{
	color: #fff;
	margin-bottom: 0px;
}
.LM-title-lg{
	font-size: 3rem;
	color: #fff;
	margin-top: 0px;
}
.LM-icon{
	margin-bottom: 20px;
}
.sl-img-wrap{
	width: 100%;
	margin-bottom: 10px;
}
/*:::::FULL PAGE:::*/
#fullpage{
	margin-top: 30px;
}
/*:::::ONE OVER TWO PAGE:::*/
.twocol{
	margin-top: 30px;
}
/*::::::BASIC PAGE::::*/
.outlineBox{
	border: 2px solid #000;
	width:100%;
	padding:2%;
	background-color: #fff;
	margin-bottom:2%;
	float:left;
}
#basicGrey{
	background: url("../img/gray_pinstripe.png") repeat;
	padding-top:5%;
	border-top: 5px solid #f70303;
}
.left{
	float:left;
	width:25%;
}
.basicText{
	float:left;
	width:75%;
}
/*::::::TYPOGRAPHY::::*/
.ft-title h3{
	color: #fff;
}
/*:::::MEDIA QUIERIES:::::*/

@media only screen and (max-width:40em){
	header{
		padding: 10px 0;
	}
	video#bgvid{
		display: none;
	}
	.banner{
		background: url('../img/homebanner-poster.png') no-repeat; 
		background-size: cover;
		display: block;
		padding: 20px 0;
		max-width: 100%;
	}
	.CTA-wrap{
		position: relative;
	}
	#banner-wrap a{
		position: relative;
	}
	#ft-products{
		background: #e1261c;
	}
	.distributors{
		width: 100% !important;
	}
	.feature-wrap{
		margin: 10px 0;
	}
}
@media only screen and (max-width:50em){
	address, .phone-wrap, .email{
		font-size: .75rem;
	}
}
@media only screen and (max-width:58.750em){
	header{
		padding: 10px 0;
	}
}
@media only screen and (max-width:60em){
	.CTA{
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 64em){
	
	#banner-wrap a{
		top: 60%;
	}
	.CTA-wrap{
		right: 20px;
	}
}
@media only screen and (max-width: 75em){
		.CTA{
			right: 5%;
		}
	}
	@media only screen and (max-width: 87.500em){
		#laser-experts{
		background-position: -150px;
		}

	}
	@media only screen and (max-width:80em){
		#laser-experts{
			background: none;
		}
		.home-laser-content{
			width: 100%;
			float: none;
		}
	}
	/*ipad [portrait + landscape]*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	.banner{
		background: url('../img/homebanner-poster.png') no-repeat; 
		background-size: cover;
		display: block;
		padding: 20px 0;
		max-width: 100%;
	}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .banner{
		background: url('../img/homebanner-poster.png') no-repeat; 
		background-size: cover;
		display: block;
		padding: 20px 0;
		max-width: 100%;
	}
}
@media only screen and (min-width:80em){
	.CTA-wrap{
		right: 18%;
	}
}
@media only screen and (min-width:64em) and (max-width:80em){
	.CTA-wrap{
		right: 4%;
	}
}
/*::END MEDIA QUIERIES:::*/

/*:::::FAQ STYLES::::::*/
.faqTable td{
	padding:30px;
	}
.faqTableHeader{
	background:#333;
	color:#fff;
}
.faqTableHeader td{color:#fff; padding:0; padding-top:20px;}

/*:::::END::::::*/

/*:::::BLOG STYLES::::::*/
.content-sbBlog-wrap{
	margin-top: 30px;
	margin-bottom: 15px;
	float: left;
	clear: left;
	width: 100%;
}
.content-sbBlog-category{
	margin-left: 80px;
}
#tags{
	margin-left: 80px;
}
.content-sbBlog-date{
	float: left;
	padding-left: 11px;
	height: 200px;
	width: 67px;
	background-repeat: no-repeat;
}
.content-sbBlog-month{
	color: white;
}
.content-sbBlog-day{
	line-height: 18px;
	letter-spacing: 0px;
	font-size: 36px;
	padding-left: 2px;
	padding-top: 2px;
	color: white;
}
#pb_sidebar{
	margin-top: 20px;
	background: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#pb_sidebar h3{
	font-size: 1.2rem !important;
}
#pb_sidebar h4{
	color: #666 !important;
	font-family: .9rem !important;
}
#pb_body{
	width: 100%;
	padding: 0 20px 15px 20px;
}

.ubp_sidebar{
	margin-top: 20px;
	float: left!important;
	width: 200px;
}
.ubp_body{
	width: 550px!important;
	padding: 0 20px 15px 20px;
	float: right;
}
.ccm-next-previous-previouslink{float: left;}
.ccm-next-previous-nextlink{float: right;}
/*:::::END:::::*/

/*:::::TABS STYLES::::::*/
.jl_magic_tabs  ul.ccm-dialog-tabs li, .jl_magic_tabs  ul.tabs li {
	list-style-type:none;
}
.jl_magic_tabs_controls{
	position:relative;
}
.ccm-dialog-tabs > li > a{
	color: #E1261C !important;
}
.jl_magic_tabs_divider{
	background: #fafafa;
	padding: 20px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/*::::::::Accordion styles:::::::*/
/* Fill whole width */
.ccm-ui.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.ccm-dialog-tabs.jl_magic_tabs>li {
	width:100%;
}
/* Cursor so to indicate click to collapse */
.ccm-ui.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.ccm-dialog-tabs.jl_magic_tabs>li>a.ccm-nav-active.active {
	cursor:pointer;
}
/* + to indicate expandable */
.ccm-ui.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.ccm-dialog-tabs.jl_magic_tabs>li>a:after {
	content: "+";
	font-weight:900;
	float: right;
	text-decoration: none;
	font-size:140%;
}
/* - to indicate collapsible */
.ccm-ui.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.ccm-dialog-tabs.jl_magic_tabs>li>a.ccm-nav-active.active:after {
	content: "-";
}
/*:::::END:::::*/
/*::::::TRADESHOW STYLES:::::*/
.trade-wrap{
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	padding: 10px 0;
}
.trade-wrap:last-child{
	border-bottom: none;
}
.trade-name{
	font-size: 1.8rem;
	margin-bottom: 0px !important;
}
.trade-location{
	font-size: 1rem;
	font-weight: bolder;
	display: block;
}
.trade-date{
	display: block;
}
/*:::::END FOOTER NAV:::::*/
.highlight{/*USED FOR SPECS TABLE COLUMN HIGHLIGHTING*/
	background: #f2f2f2 !important;
}
.td-border{
	border-left: 1px solid #ccc;
}
.bio-wrap{
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 10px;
}
.bio-pic img{
	border: 3px solid #F2F2F2;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 100%;
}
.bio-name{
	font-family: "Antonio-Regular", helvetica, arial, sans-serif;
	font-size: 1.8rem;
	color: #F70303;
	display: block;
}
.bio-title{
	font-family: "Antonio-Regular", helvetica, arial, sans-serif;
	font-size: 1.3rem;
	color: #999;
	display: block;
}
.bio-content{
	margin-top: 10px;
	color: #666;
}

/*:::::DISTRIBUTOR STYLES::::*/
.distributors{
	text-align: center;
	width: 25%;
	margin-bottom: 20px;
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	float: left;
	min-height: 200px;
}
.dist-flag{
	max-height: 67px;
	max-width: 100px;
	margin: 0 auto;
}
.headquarters{
	font-family: "helvetica", arial, sans-serif;
	font-size: .9rem;
	color: #666;
	margin: 5px 0;
}
.dist-country{
	text-transform: uppercase;
	margin-bottom: 10px;
}
/*VIDEO COVER*/
.hero-text{
	position: absolute;
	bottom: 0%;
	z-index: 10;
	left: 50%;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.referral-field{
	width: 83% !important;
	float: right !important;
}
/*::::::LASER SYSTEM OVERVIEW PAGE:::::*/
.laser-sys-wrap{
	width: 100%;
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	overflow: hidden;
}
.laser-sys-img{
	width: 100%;
	overflow: hidden;
}
.laser-sys-img img{
	width: 100%;
}
.laser-sys-title{
	width: 100%;
	color: #fff;
	background: #363636;
	text-align: center;
}
.laser-sys-title h2{
	color: #ffffff;
	margin: 0;
}
.laser-sys-content{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.laser-btn, .laser-btn:visited{
	display: inline-block;
	margin: 0 auto;
	padding: 10px 40px;
	background: #e1261c;
	border-radius: 5px;
	font-family: 'Antonio-Light';
	font-size: 1.5rem;
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-shadow: 1px 1px 2px black;
}
.laser-btn:hover{
	color: #fff;
	background: #363636;
}
.laser-CTA{
	background: url('../img/laser-overview-bg.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	margin-top: 50px;
/* 	background: #f2f2f2; */
	padding: 50px 0;
	text-align: center;
	color: #fff;
}
.laser-CTA p{
	color: #fff !important;
	font-size: 2rem;
	font-family: 'Antonio-Regular', helvetica, arial, sans-serif;
	max-width: 1024px;
	margin: 0 auto;
	text-shadow: 1px 1px 3px #000;
}
.formidable #search-engine-list-116, #search-engine-list-116_other, .formidable #search-engine-list-118, #search-engine-list-118_other{
	width: 88%; 
	float: right;
}
.formidable #search-engine-list-117, #search-engine-list-117_other{
	width: 83%;
	float: right;
}