.sf-container{
/* 	background: #363636; */
	padding: 20px 0;
}
.sf-wrapper{
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}
.sf-inner{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}
.span-5{
	width: 248px;
	height: 50px;
/* 	background: url('../img/sf-button.png') no-repeat; */
	background: #fff;
	border-radius: 10px;
	margin: 10px 5px;
	display: inline-block;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  border: 1px solid #ccc;
  overflow: hidden;
}
.span-5:hover{
	box-shadow: 0px 0px 5px #ccc;
}
.material-btn{
	display: block;
	text-align: left;
	font-size: .925rem;
	font-weight: 	bold;
	color: #555;
	padding: 0 12px;
	margin: 0 auto;
	position: relative;
	text-align: center;
/*
    top: 50%;
    left: 50%;
    margin-left 10px;
    transform: translate(-50%, -50%);
*/
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

.material-btn:hover{
	color: #e1261c;
	
}
.mtrl-wrap{
	display: block;
	position: relative;
	float: left;
	top: 12px;
	width: 86%;
	height: 70%;
}
.info-wrap{
	display: block;
/* 	width: 35px; */
	width: 12%;
	height: 100%;
	background: #f2f2f2;
	position: relative;
	float: right;
	text-align: center;
	padding-top: 8px;
}
.has-tip{
/* 	display: inline-block; */
	width: 15px;
	font-size: 1.3rem;
	border-bottom: none !important;
/* 	margin: 0 auto; */
}

.sf-title{
	font-size: 1.5rem;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	color: #e1261c;
	display: block;
	margin-bottom: 20px;
}

/*::::::MATERIAL RESULTS::::*/
.result-wrap{
	width: 100%;
	margin-bottom: 2rem;
	text-align: center;
}
.result-box{
	width: 275px;
	padding: 10px 20px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin: 0 20px 30px 20px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
}
.result-box-one{
	width: 400px;
	padding: 10px 20px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin: 0 20px 30px 20px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
}
.result-box > .span-5, .result-box-one > .span-5{
	margin: 0 auto;
	float: none;
}
.next-step-wrap{
	width: 100%;
/*
	float: left;
	margin-top: 2rem;
*/
	text-align: center;
	margin: 0 auto;
}
.result-title{
	font-size: 1.2rem;
	font-weight: bold;
	color: #363636;
	display: block;
	text-align: center;
	margin-bottom: 10px; 
	border-bottom: 2px solid #ccc;
}

/*:::::::MARKING RESULTS:::*/
.span-3 {
	width: 280px;
	height: 50px;
	margin: 10px 3%;
	background: #fff;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  border: 1px solid #ccc;
  overflow: hidden;
}
.span-3:hover{
	box-shadow: 0px 0px 5px #ccc;
}

.span-5:hover{
	opacity: 1;
}
.laser-wrap{
	width: 88%;
	display:block;
	margin: 0 auto;
	text-align: center;
}

/*::::::::LASER RESULTS::::::::*/
.result-laser{
	width: 324px;
	padding: 10px 20px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin: 0 15px 30px 15px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
}

.laser-desc{
	display: block;
	font-size: .9rem;
	margin-bottom: 10px;
}
/*::::::MEDIA QUERIES::::::*/
@media only screen and (max-width:480px){
	.span-5{
		margin: 10px 0;
	}
	.result-box{
		width: 100%;
		margin: 0 0 20px 0;
	}
	.result-box-one{
		width: 100%;
		margin: 0;
	}
	.laser-wrap{
		width: 100%;
	}
	.next-step-wrap{
		width: 100%;
	}
	.result-laser{
		width: 100%;
		margin: 0 0 20px 0;
	}
}