.sf-container{
	background: #363636;
	padding: 20px 0;
}
.sf-wrapper{
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	
}
.span-5{
	width: 140px;
	height: 125px;
	background: url('../img/sf-button.png') no-repeat;
	float: left;
	margin: 10px 5px;
	display: block;
	position: relative;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: .7;
}
.span-5:hover{
	opacity: 1;
}
.material-btn{
	display: block;
	text-align: center;
	font-size: .925rem;
	font-weight: 	bold;
	color: #fff;
	padding: 0 12px;
	margin: 0 auto;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.material-btn:hover{
	color: #363636;
}
.has-tip{
/* 	display: inline-block; */
	width: 15px;
	font-size: 1.3rem;
/* 	margin: 0 auto; */
}
.sf-title{
	font-size: 1.5rem;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	color: #363636;
	display: block;
}

/*::::::MATERIAL RESULTS::::*/
.result-box{
	width: 275px;
	padding: 20px;
	background: #ccc;
	border-radius: 10px;
	margin: 0 20px;
/* 	text-align: center; */
	box-sizing: border-box;
	float: left;
}
.result-box > .span-5{
	margin: 0 auto;
	float: none;
}
.next-step-wrap{
	max-width: 500px;
	margin: 0 auto;
/* 	text-align: center; */
}
.result-title{
	font-size: 1.2rem;
	font-weight: bold;
	color: #363636;
	display: block;
	text-align: center;
}

/*:::::::MARKING RESULTS:::*/
.span-3 {
	width: 200px;
	height: 125px;
	float: left;
	margin: 10px 5px;
	display: inline-block;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background: #B8ED01;
  
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

}
.span-3:hover{
	background: #C7FE0A;
}

.span-5:hover{
	opacity: 1;
}
.laser-wrap{
	width: 100%;
	display: inline-block;
}