body{
    font-family:helvetica;
}


.button-info{
    background:transparent;
    font-family: 'Antonio-Light';
}

.container{
	width:80%;
    max-width:1000px;
margin-left:auto;
margin-right: auto;

}

.container2{
	width:90%;
margin-left:auto;
margin-right: auto;
 border: 5px solid black;
border-radius: 40px;
}

.selectionBox{
    text-align:center;
    float:left;
    padding:10px;
    margin:10px;
    border-radius: 20px;
}

.myClear{
    clear:both;
}

.materialbutton {
    padding: 5px 10px;
    display: inline;
    font-family: 'Antonio-Light';
   background-color:#fff;
    border: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px 5 #666;
    }



   .redbutton {
    padding: 5px 10px;
    display: inline;
   background-color:#f70303;
    border: none;
    color: #fff;
    font-family: 'Antonio-Light';
    cursor: pointer;
    font-weight: bold;
    } 

.titleBar{
    background-color:#363636;
    width:100%;
    color:#fff;
    font-size: 20px;
    padding-left:0px;
    padding-right:0px;
    /*put in antonio when live*/
}

.button:hover {
    background-position: 0 -48px;
    }

.infobutton{
	background-color:#363636;
    color:#fff;
    width:30px;
    display:inline-block;
    margin-top:-35px;
    border:solid 2px #fff;
    border-color: #fff;
    border-radius: 100%;
}


.choiceRow{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    text-align: center;

}

.choicebox{
	width:150px;
	height:190px;
	float:left;
	text-align: center;
	margin-right:2%;
	display:inline-block;
}


/*laser selection styles*/

.laserBox{
    width:100%;
    padding:5px;
    border: 2px solid black;
}

.laserImg{
    width:30%;
    margin-right:2%;
    float:left;
}

.laserText{
    width:85%;
    text-align: left;
    float:left;
}

.laserButtons{
    width:50%;
    float:right;
    font-family: 'Antonio-Light';
}




/*transitions*/

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}