@charset "UTF-8";


@font-face {
  font-family: 'Antonio-Regular';
  src: url('fonts/Antonio-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Antonio-Regular.woff') format('woff'), url('fonts/Antonio-Regular.ttf')  format('truetype'), url('fonts/Antonio-Regular.svg#Antonio-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio-Light';
  src: url('fonts/Antonio-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Antonio-Light.woff') format('woff'), url('fonts/Antonio-Light.ttf')  format('truetype'), url('fonts/Antonio-Light.svg#Antonio-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Antonio-Bold';
  src: url('fonts/Antonio-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Antonio-Bold.woff') format('woff'), url('fonts/Antonio-Bold.ttf')  format('truetype'), url('fonts/Antonio-Light.svg#Antonio-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



a {
  color: #f70303;
  line-height: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: #d40303; }
  a img {
    border: none; }

/* Default paragraph styles */
p {
	color: #666;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }
  p.lead {
    font-size: 1.21875rem;
    line-height: 1.6; }
  p aside {
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.35; }
ul li{
	color: #666;
}
/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  color: #f70303;
 font-family: 'Antonio-Regular'; 
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #fd5858;
    font-size: 60%;
    line-height: 0; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.6875rem;
  color:#999; }

h3 {
  font-size: 1.575rem; }

h4 {
  font-size: 1.325rem;
  color:#fff;
   }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem;
  color:#333; }
  
.red-btn a:link, .red-btn a:visited{
	padding: 5px 10px;
	background: #e1261c;
	border-radius: 5px;
	font-family: 'Antonio-Light';
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.red-btn, .red-btn:visited{
	color: #fff;
	display: inline-block;
}