/*
Magic Tabs by John Liddiard (aka JohntheFish)
www.jlunderwater.co.uk
This software is licensed under the terms described in the concrete5.org marketplace.
Please find the add-on there for the latest license copy.

Create a tabbed interface simply by inserting magic tabs blocks into the page
*/

.jl-magi-tabs-ui-container{
	padding:55px 5px;
}
.jl_magic_tabs_controls{
	position:relative;
}

/*
Accordion styles

The way jQuery.ui builds tabs leads to some issues doing this just in css, so
the styling of the accordion markers is less than perfect
*/

/* Fill whole width*/

.ui-tabs.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.jl_magic_tabs>li {
	width:150%;
	overflow:hidden;
}
.ui-tabs.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.jl_magic_tabs>li>a {
	width:100%;
}


/* Cursor so to indicate click to collapse */
.ui-tabs.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.jl_magic_tabs>li>a.ui-tabs-selected.ui-state-active {
	cursor:pointer;
}

/* + to indicate expandable */
.ui-tabs.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.jl_magic_tabs>li>a:after {
	content: "+";
	font-weight:900!important;
	float: right;
	text-decoration: none;
	font-size:140%!important;
	margin-right:55px;
}
/* - to indicate collapsible */
.ui-tabs.jl_magic_tabs_controls.jl_magic_tabs.jl_magic_tabs_accordion>ul.jl_magic_tabs>li>a.ui-tabs-selected.ui-state-active:after {
	content: "-";
	font-weight:900!important;
	float: right;
	text-decoration: none;
	font-size:140%!important;
	margin-right:25px;
}