 <div class="sf-header"><h4><strong>You have selected</strong></h4></div>


 <div class="selectionBox">
 <h2>Laser<h2>
  <div class="picture"> <img src="img/laser/{{laserS.id}}.png"> </div>
  {{laserS.name}}
  </div>

 <div class="selectionBox">
 <h2>Enclosure<h2>
  <div class="picture"> <img src="img/enclosure/{{enclosureS.id}}.png"> </div>
  {{enclosureS.name}}
  </div>
  <br>

<button><img src="img/mail.png" style="padding-right:4px">  Email Me My Configuration</button>




  <!--ng repeat for each type in material 1 in marking-->