<div class="sf-header"><h4>You have selected Find an Enclosure for your laser
First: Choose your process and flow configuration</h4></div>


       <div class="selectionBox" style="margin-left:auto; Margin-right:auto" ng-repeat="process in process">


   <div class="row">
<div class="small-12 medium-12 columns" style="width:155px; height:180px">

      <div class="picture"> <img src="img/{{process.photo}}.png"> </div>

              <a href="#" data-reveal-id="{{process.photo}}"><div class="infobutton">?</div></a>
              <div id="{{process.photo}}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			  <h2 id="modalTitle">{{process.name}}</h2>
			  <p>{{process.info}}</p>
			  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
			 </div>

           <button class="materialbutton" type="button" ng-click="$scope.place = 'Enclosure'; enclosureChoices(process.id); processChoice(process.id)">{{process.name}}</button> 

           </div>
           </div>



    <!-- <button class="infobutton" style="margin-top:-10px; margin-bottom:10px" type="button" ng-click="alert(material.info)">?</button><br>-->