<div class="sf-header"><h4>The Following lasers will work for your application</h4></div>

<br>


  <div ng-if="place =material">
<div ng-repeat="laserC in laserC">

    <div class="row">
	<div class="small-12 columns">
	<div class="outlineBox">

	

	<div class="laserText"><h3>{{laserC.name}}</h3>
    <div class="left"><img src="img/laser/{{laserC.id}}.png"> </div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at luctus nisi. Cras rutrum dui eu massa malesuada commodo feugiat et purus. Nunc vel efficitur velit. Suspendisse ipsum enim, placerat nec vestibulum et, fringilla eget lacus. Aliquam bibendum tempor felis, non laoreet elit aliquet eu. Praesent<p> </div>

	<div class="laserButtons">
		  <button class="redbutton" type="button"  ng-click="$scope.place = 'Configuration';laserChoice(laserC.id)" >Learn More</button>
		    <button class="redbutton" type="button"  ng-click="$scope.place = 'Configuration';laserChoice(laserC.id)" >Choose Laser</button>

		    </div>
		    </div>
		    </div>
</div>


</div>
</div>
