<?php
	// mainSolution.html
		// /public_html/themes/rmiTheme/solutionsFinder/mainSolution.html
		// www.RmiLaser.com/test

require_once "./RmiLaserFuncs.php";

echo "<script LANGUAGE=\"javascript\" type=\"text/javascript\">

	function xmlhttpPost(strURL) {
		var xmlHttpReq = false;
		var self = this;
		var DivIdToUse_ac = 'ResultId0';
		// Mozilla/Safari
		//alert(DivIdToUse_ac);
		if (window.XMLHttpRequest) {
			self.xmlHttpReq = new XMLHttpRequest();
		}
		// IE
		else if (window.ActiveXObject) {
			self.xmlHttpReq = new ActiveXObject(\"Microsoft.XMLHTTP\");
		}
		self.xmlHttpReq.open('POST', strURL, true);
		self.xmlHttpReq.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		self.xmlHttpReq.onreadystatechange = function() {
			if (self.xmlHttpReq.readyState == 4) {
				updatepage(self.xmlHttpReq.responseText, DivIdToUse_ac);
			}
		}
		self.xmlHttpReq.send();
	}

	function updatepage(str, DivIdToUse_ac){
		//alert(str);
		//alert(DivIdToUse_ac);
		
		var myRegExp = /REFRESH PAGE/;
		var matchPos1 = str.search(myRegExp);
		if(matchPos1 != -1)
		{	// got match
			str	= '(refreshed webpage)';
			window.location.reload( true );
		}
		else
		{	// no match
			//str	= 'Waiting...';
		}
		
		//if(str == 'Both Online...')
		//{	// signal not to wait anymore
		//	//alert('AJAX signal not to wait anymore');
		//	document.location='CustDirectTrade2Proc.php?Arg1=$CustTagId_ac&Arg2=$CustTagIdAlias_ac';
		//}

		document.getElementById( DivIdToUse_ac ).innerHTML = str;
	}";
	
	echo "var c=0
			var t
			function timedCount()
			{
				document.getElementById('IdStartCnt').value=c;
				c=c+1;
				";
				echo "xmlhttpPost('./AjaxSolutionFinderProc.php?Arg1=$MoreText_ac');";		// AJAX
				echo "t=setTimeout('timedCount()', 4000);";						// every 4 secs
			echo "}";
	echo "</script>";

echo "<section id='Solutionfinder'>";
		echo "<div class='solution-wrap'>";
				echo "<div class='sf-header'>";
					echo "<h4>Use our Solution Finder to discover the right laser for you...</h4>";
				echo "</div>";		//<!--end sf-header-->

				echo "<a name='SolutionTop'></a>";
					
					//print "_SESSION['MoreText']=__" . $_SESSION['MoreText'] . "__<br>";
					//if($_SESSION['MoreText'] == "")
					//{	
					$MoreText_ac	= "HappyDays<br>";
					//}
					//else
					//{	$MoreText_ac	= $_SESSION['MoreText'];
					//}

					
					echo "<br>";
					echo "<div align='center'>";
						echo "<a class='home-red-btn' href='#SolutionTop' onClick=\"xmlhttpPost('./AjaxSolutionFinderProc.php?Arg1=$MoreText_ac')\";>&nbsp;Find Your Solution&nbsp;</a>";
					echo "</div>";
					
					echo "<div id='ResultId0' ></div>";		// AJAX text/images plopped into here
				
					echo "<div>";
					
						//print "_SESSION=<pre>"; print_r($_SESSION); print "</pre>";					
					
					echo "</div>";

					//echo "<br>The Text " . $_SESSION['MoreText'] . "<br>";
					
					if(!isset($_SESSION['RmiLaserOptions']))				
					{	// read in options
						$SrcFileName_ac	= "./RmiLaserOptions.xml";
						if(($Handle = fopen($SrcFileName_ac, "r")) !== FALSE)
						{	// opened file
							//print "Dbf_TableImportFromXmlFile Opened=__" . $SrcFileName_ac . "__<br>";
							$Contents_ac = fread($Handle, filesize($SrcFileName_ac));
							fclose($Handle);
							//$ShowableXml_ac	= str_replace("<", "[", $Contents_ac);
							//$ShowableXml_ac	= str_replace(">", "]<br>", $ShowableXml_ac);
							//$ShowableXml_ac	= "Contents_ac=__" . $ShowableXml_ac . "__<br>";	
							//print $ShowableXml_ac . "<br>";

							$XmlIsValid_b	= simplexml_load_string($Contents_ac);
							if($XmlIsValid_b === FALSE)	// bad xml
							{
								print "ERROR: FAILED to open=__" . $SrcFileName_ac . "__ Is Not a valid XML string<br>";
								exit;	// figure out why
							}
							// else is a valid XML string

							$TheXml_a	= xml2array($Contents_ac, 1, 'attribute');		// convert to array
							//print "xml2array TheXml_a=<pre>"; print_r($TheXml_a); print "</pre>";
							//exit;
							/*
							[Table_RmiLaserData] => Array
								[Materials] => Array
									[0] => Array
										[Material] => Array
											[value] => Aluminum
										[Options] => Array
											[Marking] => Array
											[0] => Array
												[value] => Surface Annealing
											[1] => Array
												[value] => Etching
											[2] => Array
												[value] => Deep Engraving
							*/
							$_SESSION['RmiLaserOptions']	= $TheXml_a;
							//print "mainSolution Read In XML<br>";
						}
						else
						{
							print "ERROR: FAILED to open=__" . $SrcFileName_ac . "__<br>";
							exit;	// figure out why
						}
					}	// end read in options
					//print "_SESSION['RmiLaserOptions']=<pre>"; print_r($_SESSION['RmiLaserOptions']); print "</pre>";
					//$RmiLaserOptions_a	= $_SESSION['RmiLaserOptions'];
					//print "RmiLaserOptions_a=<pre>"; print_r($RmiLaserOptions_a); print "</pre>";
					//exit;
	
	
			//echo "<span data-tooltip aria-haspopup='true' class='tooltip' title='in the solution wrap'><i class='fi-info'></i></span>";
		echo "</div>";		//<!--end .solution-wrap-->
	//echo "<span data-tooltip aria-haspopup='true' class='has-tip' title='in the section'><i class='fi-info'></i></span>";
echo "</section>";
//echo "<span data-tooltip aria-haspopup='true' class='has-tip' title='outside of section'><i class='fi-info'></i></span>";
?>
