 <div class="sf-header"><h4>Second: Choose your marking type</h4></div>



  
  <div ng-if="place =material"> 
  <div class="row">
<div class="selectionBox" style="margin-left:auto; margin-right:auto" ng-repeat="markingC in markingC">

<div class="small-12 medium-12 columns" style="width:155px; height:180px">
   <div class="picture"> <img src="img/marking/{{markingC.photo}}.png"/></div>

   <a href="#" data-reveal-id="{{markingC.photo}}"><div class="infobutton">?</div></a>
  <div id="{{markingC.photo}}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">{{markingC.name}}</h2>
  <p>{{markingC.info}}</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

   <br>
   <button class="materialbutton" type="button"  ng-click="$scope.place = 'Laser'; markingSelector(materialS);laserChoices(markingC.id); markingChoice(markingC.id)" >{{markingC.name}}</button>
   </div>
   </div>
</div>


 <!--<button class="infobutton" style="margin-top:-10px; margin-bottom:10px" type="button" ng-click="alert(markingC.info)">?</button>-->