 <div class="sf-header"><h4>First: Choose the material you will be working with</h4></div>


	<div class="row">
       <div class="selectionBox" style="margin-left:auto; margin-right:auto" ng-repeat="material in material">
       		<div class="small-12 medium-12 columns" style="width:155px; height:180px">
               <div class="picture"> <img src="img/material/{{material.photo}}.png">
                </div>


   <a href="#" data-reveal-id="{{material.photo}}"><div class="infobutton">?</div></a>
  <div id="{{material.photo}}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">{{material.name}}</h2>
  <p>{{material.info}}</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

        <br>
 <button class="materialbutton" type="button" ng-click="$scope.place = 'Marking'; materialChoice(material.id); markingChoices(material.id)">{{material.name}}<div ng-include="'images/resourceIcon.svg'"></button> 

 </div>
    </div>       
          

   <!--<button class="infobutton" style="margin-top:-10px; margin-bottom:10px" type="button" ng-click="alert(material.info)">?</button>-->

  