
<div ng-controller="../solutionsController">  
    <div class="container">
       <div class="choiceRow">
	       <div ng-init="$scope.place = 'Material'">
		       <div ng-switch on ="$scope.place" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
			       <div ng-switch-when="Material" >
				       <my-material></my-material>
				    </div>
				    
				    <div ng-switch-when="Marking" >
					    <my-marking></my-marking>
					</div>
					
					<div ng-switch-when="Laser" >
						<my-laser></my-laser>
					</div>
					
					<div ng-switch-when="Configuration" >
						<my-configuration></my-configuration>
					</div>
					
					<div ng-switch-when="Enclosure" >
						<my-enclosure></my-enclosure>
					</div>
					
					<div ng-switch-when="Choices" >
						<my-choices></my-choices>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
   




   