
@font-face {
  font-family: 'Antonio-Regular';
  src: url('Antonio-Regular.eot?#iefix') format('embedded-opentype'),  url('Antonio-Regular.woff') format('woff'), url('Antonio-Regular.ttf')  format('truetype'), url('Antonio-Regular.svg#Antonio-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
